.pizzascard {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pizzaslist {
  margin: 5rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
