.card {
  margin: 1rem;
  width: 15rem;
  background-color: #61dcfbd8 !important;
  transform: scale(1);
  transition: all 0.3s !important;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.3s;
}

.cardTitle {
  font-family: 'Dancing Script', cursive !important;
  font-weight: bold !important;
  font-size: 2.2rem !important;
}

.cardPrice {
  font-family: 'Dancing Script', cursive !important;
  font-weight: bold !important;
  font-size: 1rem !important;
}
