.container-api-gouv {
  .row {
    .col-12 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .card {
    width: clamp(320px, 100%, 380px);
    .card-title {
      color: #b7dae3;
    }
  }
  .icon-company {
    height: 2rem;
  }
}
