.christopheContainer {
  min-height: 100vh;
  background-color: rgb(8, 23, 36);
  padding-bottom: 5rem;
}
h1,
h3 {
  margin: 6rem;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}


/* ----------- page compteur ---------------------*/

.compteurBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imgagesBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.imgageAndButton {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 4rem;
}

svg {
  width: 1rem;
  transition: 0.3s;
  margin: 0.5rem;
  opacity: 0.5;
}

svg:hover {
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 1;
}

